body  { 
color: #421F01;
background-color: #FFE2CE;
font-style: normal; 
font-family: "Trebuchet MS", Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
text-align: left;
padding: 0px;
margin: 0px 
}

P  { 
font-style: normal;  
font-family: "Trebuchet MS", Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
text-align: left;
padding: 0px;
margin: 0px 
}


/*   links generici start   */

A  {
color: #3A6347; 
text-decoration: none 
}

A:Hover  { 
color: #421F01; 
text-decoration: none 
}

A.menu  {
color: #ffffff; 
text-decoration: none 
}

A.menu:Hover  { 
color: #D9A08F; 
text-decoration: none 
}

/*   links generici applicazioni   */

A.applicazioni  {
color: #3A6347; 
text-decoration: none;
font-weight: bold
}

A.applicazioni:Hover  { 
color: #421F01; 
text-decoration: none;
font-weight: bold
}

/* **  stili testi  ** */

.comerag     { 
font-size: 84%;
text-align: left;
border-bottom: solid 1px #34563F;
padding: 15px 0px 15px 0px
}

.centro     { 
background-image: url(../img/bkg.jpg);
background-repeat: no-repeat;
background-color: #FFE2CE
}

.centroint     { 
background-image: url(../img/bkgint.jpg);
background-repeat: no-repeat;
background-color: #FBD9C2
}

.indirizzo     { 
font-size: 65%;
text-align: center;
padding: 7px 3px 7px 3px
}

.testo   {
line-height: 140%;  
font-size: 84%;
padding-top: 5px; 
vertical-align: top; 
text-align: left;
padding-left: 8px;
padding-right: 13px
}

.tabprezzi   {
line-height: 140%;  
font-size: 84%; 
text-align: left;
padding-left: 10px;
background-color: #FFE2CE
}

.menutesto   { 
font-family: "Georgia", Trebuchet MS, Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;  
color: #D9A08F;
/*background-color: #437753;*/
font-size: 84%; 
text-align: center;
font-weight: bold;
padding: 3px 0px 4px 0px
}

.testohome   { 
font-size: 84%;  
font-style: italic; 
line-height: 170%; 
text-align: right;
padding-top: 15px;
padding-left: 10px
}

.testointerno   { 
font-size: 84%;
line-height: 130%;
padding-top: 15px; 
vertical-align: top; 
text-align: left;
padding-left: 15px;
padding-right: 5px;
padding-bottom: 15px;
border-bottom: solid 1px #34563F
}

.testointerno2   { 
font-size: 84%;
line-height: 130%;
padding-top: 15px; 
vertical-align: top; 
text-align: left;
padding-left: 0px;
padding-right: 5px;
padding-bottom: 15px
}

.testointerno3   { 
font-size: 84%;
line-height: 130%;
padding-top: 15px; 
vertical-align: top; 
text-align: left;
padding-left: 15px;
padding-right: 5px;
padding-bottom: 15px;
border-top: solid 1px #34563F
}

.testointerno4   { 
font-size: 84%;
line-height: 130%;
padding-top: 15px; 
vertical-align: top; 
text-align: left;
padding-left: 0px;
padding-right: 5px;
padding-bottom: 15px;
border-bottom: solid 1px #34563F
}

.lingue   { 
font-size: 84%;
padding-top: 5px; 
vertical-align: top; 
text-align: right;
padding-bottom: 12px;
padding-right: 0px;
border-bottom: solid 1px #34563F
}

.titolo   { 
font-size: 88%;
padding-top: 5px; 
vertical-align: top; 
text-align: left;
padding-bottom: 10px;
padding-left: 15px;
border-bottom: solid 1px #34563F;
}

.map   {  
font-size: 84%;
vertical-align: top; 
line-height: 120%; 
text-align: left;
padding-left: 10px
}

.sottotitolo   { 
font-size: 65%;
padding-left: 10px
}

.camere   { 
font-size: 84%;
padding-left: 10px
}

.comforts   { 
font-size: 84%;
padding-left: 10px;
padding-top: 17px;
border-top: solid 1px #34563F;
}

.americani {  
font-size: 65%; 
text-align: center;
}


/*   scambio links start   */

A.links_footer {
color: #808080;
font-size: 65%; 
font-family: Trebuchet MS, Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
text-decoration: none 
}

A.links_footer:Hover {
color: #000000; 
font-size: 65%; 
font-family: Trebuchet MS, Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
text-decoration: none 
}


.links_titolo    { 
font-size: 84%; 
background-color: transparent;  
vertical-align: top;
padding-left: 9px 
}

.links_categoria   {  
font-size: 84%; 
background-color: transparent;  
vertical-align: top; 
padding-left: 9px;
padding-right: 15px 
}

.links_abstract   {  
font-size: 84%; 
background-color: transparent;  
vertical-align: top; 
padding-left: 9px 
}

.links_img   { 
background-color: transparent;  
vertical-align: top; 
padding-left: 9px 
}

.links_navigazione { 
font-size: 84%; 
background-color: transparent; 
text-align: left; 
vertical-align: top; 
padding-top: 15px;
padding-left: 9px 
}

.links_viewtabella     { 
font-style: normal;  
border: solid 1px #D9A08F;
vertical-align: top; 
width: 100% 
}

.links_viewtabella_details     { 
font-style: normal;  
border: solid 1px #D9A08F;
vertical-align: top; 
width: 90% 
}

.links_numeri   { 
color: #000000; 
font-size: 84%; 
background-color: transparent;  
vertical-align: top; 
padding-left: 9px 
}


/* **  form start  ** */

.box_testo_form {
padding: 2px
}
		
.tabella_secure {
width: 100%
}
		
.box_ssl_secure {
width: 200px;
background-color: #ffffff;
padding: 5px;
}

.titolo {
font-size: 84%;
line-height: 160%;
color: #421F01; 
text-align: left;
padding: 0
}
			
.testo_form { 
color: #421F01;
font-size: 84%; 
line-height: 140%; 
text-align: left;
margin: 0;
padding: 10px 10px 0px 0px; 
vertical-align: top;
}

.testino_form { 
color: #421F01;
font-size: 65%; 
line-height: 130%; 
text-align: left;
padding: 5px 0px 0px 0px; 
vertical-align: top;
}

.descrizioneform {
width: 65%;                  
float: left;
}
 
.formfontina    { 
color: #421F01;
font-style: italic; 
font-size: 65%; 
margin: 0px 0px 0px 0px; 
padding: 0px 10px 0px 0px;
 }

.consenso_font   { 
color: #421F01;
font-size: 13px; 
text-align: left;
margin: 10px 0px 0px 0px; 
padding: 0px 0px 0px 0px;
}
 
.privacy_font   { 
color: #421F01;
text-align: left;
font-size: 13px; 
margin: 10px 0px 0px 0px; 
padding: 0px 0px 0px 0px;
}

#privacy_box {
text-align: left;
margin-left: 15px;
}

#privacy_box p {
	font-size:10px;
	line-height:14px;
}
#privacy_box p.informativatesto {
	font-size:10px;
	height:70px;
	overflow:auto;
	margin:5px 0px 30px 0px;
}

.campo_testo     { 
color: #421F01;
font-size: 13px; 
background-color: #ffffff; 
}

.campo_testobox     { 
color: #421F01;
font-size: 13px; 
background-color: #ffffff; 
}

.campo_submit     { 
color: #ffffff; 
font-size: 14px; 
background-color: #421F01;
margin: 10px 0px 10px 50px; 
}

.campo_select     { 
color: #421F01;
font-size: 13px; 
background-color: #ffffff
}

.campo_appellativo     { 
color: #421F01;  
font-size: 13px;
width: 50px; 
background-color: #ffffff; 
}

.campo_testo_cognome     { 
color: #421F01;  
font-size: 13px; 
background-color: #ffffff; 
}

.formtab {
background-color: #FEE1CD;
border: solid 1px #D9A08F 
}

.formtitle {
font-weight: bold;
font-size: 13px; 
font-family: "Trebuchet MS", Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
background-color: #D9A08F;
text-align: center;
padding: 5px 
}

.formfont {
text-align: left;
font-size: 13px; 
font-family: "Trebuchet MS", Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
margin-bottom: 2px; 
padding-bottom: 2px 
}
 
.formfontrequired {
color: red;
font-weight: bold;
font-size: 13px; 
font-family: "Trebuchet MS", Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
margin-bottom: 2px;
padding-bottom: 2px 
}


/*   special offers  LISTE start   */

.specialoffers_data   { 
font-size: 65%; 
text-align: left; 
vertical-align: top;
padding-left: 8px;
padding-top: 10px
}

.specialoffers_offerta    { 
font-size: 84%; 
text-align: left;
background-color: transparent;  
vertical-align: top;
padding-left: 8px
}

.specialoffers_abstract   { 
font-size: 65%;
text-align: left; 
background-color: transparent;  
vertical-align: top;
padding-left: 8px
}

.specialoffers_img   { 
background-color: transparent;  
vertical-align: top
}


/*   special offers RIDOTTO start   */

.specialoffers_viewtabella     {
width: 100%;
font-style: normal; 
vertical-align: top; 
padding-top: 5px;
padding-right: 6px;
border-bottom: solid 1px #34563F
}

.specialoffers_viewtitolo  { 
font-size: 84%;
color: #50330A;
background-color: #D9A08F; 
text-align: left;
font-weight: bold; 
padding-left: 5px
}

.specialoffers_linklistacompleta  { 
font-size: 84%; 
text-align: left;
background-color: transparent;  
vertical-align: top; 
padding-top: 10px;
padding-bottom: 10px;
padding-left: 8px
}


/*   special offers COMPLETA start   */

.specialoffers_viewtabella_completa     { 
vertical-align: top; 
font-style: normal;  
padding-left: 6px;
padding-top: 5px;
padding-right: 6px;
padding-bottom: 20px
}

.specialoffers_viewtitolo_completa  { 
font-size: 84%;
color: #50330A;
background-color: #D9A08F; 
text-align: left;
font-weight: bold; 
padding-top: 2px;
padding-bottom: 2px;
padding-left: 8px  
}

.specialoffers_navigazione_completa   { 
font-size: 84%;  
background-color: transparent; 
text-align: left; 
vertical-align: top; 
padding-top: 10px;
padding-left: 8px
}


/*   special offers DETAIL start   */

.specialoffers_viewtabella_detail     {  
vertical-align: top;
font-style: normal;  
padding-left: 6px;
padding-top: 10px;
padding-right: 6px;
padding-bottom: 30px
}

.specialoffers_viewtitolo_detail  { 
font-size: 84%;
color: #50330A;
background-color: #D9A08F; 
font-weight: bold; 
text-align: left;
padding-top: 2px;
padding-bottom: 2px; 
padding-left: 8px
}

.specialoffers_data_detail   { 
font-size: 84%; 
background-color: transparent; 
vertical-align: top;
padding-left: 8px
}

.specialoffers_offerta_detail    {
font-weight: bold;
font-size: 100%; 
background-color: transparent;  
vertical-align: top; 
padding-top: 9px; 
padding-bottom: 15px;
padding-left: 8px
}

.specialoffers_testo_detail    { 
font-size: 84%; 
background-color: transparent;  
vertical-align: top;
padding-left: 8px
}

/* ******************  BOX ZERO PER CENTO  *************** */

div#box0per100ridotto table {
	border-collapse: collapse;
	width: auto;
	margin: 0;
	padding: 0px
}

div#box0per100ridotto td.immagine {
	vertical-align: middle;
	text-align: center;
	background: #000000;
	width: 48px;
	height: 47px;
	margin: 0px
}

div#box0per100ridotto td.immagine img {
	border: 0px
}

div#box0per100ridotto td.descrizione {
	vertical-align: middle;
	padding: 3px 5px 3px 5px;
	background-color: #417753
}

div#box0per100ridotto td.descrizione p {
	text-align: left;
	line-height: 130%;
	color: #ffffff;
	padding: 0px;
	margin: 0px;
	font: 65%/120% "Trebuchet MS"
}

div#box0per100ridotto td p a:link {
	color: #FEE2CD;
	text-decoration: none 
}

div#box0per100ridotto td p a:visited {
	color: #FEE2CD;
	text-decoration: none 
}

div#box0per100ridotto td p a:hover{
	color: #ffffff;
	text-decoration: none
}

div#box0per100ridotto td p a:active {
	color: #FEE2CD;
	text-decoration: none 
}


/* **  PAGINA ZERO PER CENTO  ** */

.zpc_up   { 
color: #ffffff; 
background-color: #393430;
font-size: 100%; 
text-align: left;
padding-top: 10px; 
padding-bottom: 10px;
padding-left: 10px }

.zpc_img_up_it   { 
background-color: #9A948C;
background-image: url(../img/villacrispi_bp_it.jpg);
background-repeat: no-repeat;
height: 137px;
text-align: left }

.zpc_img_up_en   { 
background-color: #9A948C;
background-image: url(../img/villacrispi_bp_en.jpg);
background-repeat: no-repeat;
height: 137px;
text-align: left }

.zpc_img_up_de   { 
background-color: #9A948C;
background-image: url(../img/villacrispi_bp_de.jpg);
background-repeat: no-repeat;
height: 137px;
text-align: left }

.zpc_corpo    { 
font-size: 84%; 
padding-top: 15px;
background-color: #ffffff;
color: #000000;
text-align: left;
padding-bottom: 15px; 
padding-right: 10px; 
padding-left: 10px 
}

.zpc_down   { 
color: #ffffff; 
background-color: #393430;
font-size: 84%;
text-align: center;
padding-top: 10px; 
padding-bottom: 10px;
padding-left: 10px 
}

a.zpc_chiudi   { 
color: #ffffff;
text-decoration: none
}

a.zpc_chiudi:Hover   { 
color: #ffffff;
text-decoration: underline
}

a.zpc_chiudi:visited   { 
color: #ffffff;
text-decoration: none
}

a.zpc_chiudi:active   { 
color: #ffffff;
text-decoration: none
}

a.zpc_link   { 
color: #000000;
text-decoration: underline
}

a.zpc_link:Hover   { 
color: #000000;
text-decoration: none
}

/* **  BOX Prenota on line  ** */


.bookonline_viewtabella     { 
vertical-align: top 
}

.reservation_viewtabella     { 
vertical-align: top  
}

.ssl_viewtabella     { 
vertical-align: top;
width: 100% 
}

.booktesto      { 
font-size: 84%;
text-align: left;
line-height: 130%;
padding: 5px 0px 5px 7px
}

.booksottotesto      { 
font-size: 65%;
text-align: left;
line-height: 130%;
padding: 0px 0px 5px 7px
}

.requesttesto      { 
font-size: 84%;
text-align: left;
line-height: 130%;
padding: 5px 0px 0px 7px
}

.ssltesto      { 
font-size: 65%;
text-align: left;
line-height: 140%;
padding: 0px 0px 0px 7px
}

.pulsantebox { 
background-color: #D9A08F;
font-weight: bold; 
font-size: 84%; 
line-height: 110%; 
text-align: left; 
vertical-align: top;
padding: 2px 0px 2px 7px
}

.pulsantebox2 { 
background-color: #D9A08F;
font-weight: bold; 
font-size: 84%; 
line-height: 110%; 
text-align: left; 
vertical-align: top;
padding: 2px 0px 2px 7px;
margin-top: 10px
}


/* **  CONFERMA INVIO (Richiesta e Prenotazione)  ** */


.confermatesto      { 
font-size: 84%;
line-height: 120%;
text-align: center;
padding-left: 5px
}

/* ** COPYRIGHT** */

.copyright { 
font-size: 65%; 
text-align: left 
}

a.cr       { 
color: #000000;
font-weight: bold; 
text-decoration: none 
}

a.cr:Hover       {
color: #000000;
font-weight: bold;  
text-decoration: underline 
}

a.cc-btn.cc-dismiss {
	display: none;
}